.navbar {
  font-family: "Titillium Web";
  padding: 0;
  margin: 0;
}

.navbar ul {
  margin: 0;
  list-style-type: none;
}

.navbar .navbar-brand {
  margin-left: 30px;
  float: left;
  text-align: right;
}

.navbar .navbar-brand img {
  height: 25px;
  margin: 12px 0;
  opacity: .4;
}

.navbar .f2-f3-nav {
  font-family: "Formula1 Display-Bold";
}

.navbar .f2-f3-nav a {
  font-size: 12px;
  text-decoration: none;
}

.navbar .global-nav {
  margin-left: auto;
}

.navbar .global-actions {
  margin: 5px 10px 5px 0;
}

.btn-signin {
  text-transform: uppercase;
}
.btn-signin svg {
  margin-right: 3px;
  margin-bottom: 2px;
}